.game-admin-actions {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: $unit4 auto $unit2 auto;
  padding: $unit2;
  position: relative;
  border: 1px solid $color-brown;

  &:before {
    content: 'Admin Actions';
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 80%;
  }

  &__warning {
    display: block;
    font-size: 80%;
    color: $color-red;
    margin-bottom: $unit2;
  }
}
