// Colors
$color-pale: #f2ede4;
$color-pale-darker: #cabda7;
$color-brown: #9b8579;
$color-orange: #ffa500;
$color-green: #44b700;
$color-white: #ffffff;
$color-red: #a01d0b;

//Units
$unit1: 4px;
$unit2: 8px;
$unit3: 16px;
$unit4: 32px;
