.game-question-waiting {
  max-width: 500px;

  h1,
  h2 {
    text-align: center;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }

  &__rules {
    font-size: 90%;

    & li {
      margin-bottom: $unit2;
    }
  }

  .tip {
    &--ok {
      color: $color-green;
    }

    &--not-ok {
      color: $color-red;
    }
  }
}
