.game-compare {
  &__icon {
    text-align: center;
    margin-top: $unit3;
  }

  h2 {
    text-align: center;
    margin: 0;
  }

  &__current-question {
    text-align: center;
    padding: $unit2;
    border: 3px solid $color-orange;
    border-radius: $unit1;
  }

  &__answers-chips {
    display: flex;
    justify-content: space-evenly;
    padding: $unit3 $unit2 $unit2 $unit2;
    border: 3px solid $color-brown;
    border-radius: $unit1;
    flex-wrap: wrap;
  }

  &__current-answer {
    background: $color-white;
    border-radius: $unit1;
    padding: $unit1 $unit4;
    position: absolute;
    transform: translateY(-115%);
  }

  &__accepted-answers {
    display: flex;
    flex-wrap: wrap;
    padding: $unit3 $unit2 $unit2 $unit2;
    border: 3px solid $color-white;
    border-radius: $unit1;
    justify-content: center;
  }

  &__accepted-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__instructions {
    font-size: 90%;
  }
}
