body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-pale;
}

.mock-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: $unit3;
  padding: $unit1 $unit1 0 $unit1;
  justify-content: space-evenly;
  background: burlywood;

  & > button {
    font-size: 50%;
    margin-bottom: $unit1;
  }
}
