body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-pale;
}

.release-number {
  position: absolute;
  right: $unit2;
  top: $unit1;
  color: $color-brown;
  font-size: 0.5rem;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: right;
}

.app-container {
  padding-bottom: 3rem;
}

.mock-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: $unit3;
  padding: $unit1 $unit1 0 $unit1;
  justify-content: space-evenly;
  background: burlywood;

  & > button {
    font-size: 50%;
    margin-bottom: $unit1;
  }
}
