// Contants
@import './constants';
// Animations
@import './animations';
// Global
@import './global';
// Material UI Modifiers
@import './mui-modifiers';

// Components
@import './player-badge';
@import './answer-chip';

// Screens
@import './home';
@import './game';
@import './admin-actions';
@import './waiting-room';
@import './game-header';
@import './game-announcement';
@import './game-questions';
@import './game-answer';
@import './game-compare';

.release-number {
  position: absolute;
  right: $unit2;
  top: $unit1;
  color: $color-brown;
  font-size: 0.5%;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: right;
}
