@keyframes ripple {
  from {
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    transform: scale(2.4);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-3px);
  }
  100% {
    transform: translatey(0px);
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2ede4;
}

.mock-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  padding: 4px;
  justify-content: space-evenly;
  background: burlywood;
}
.mock-buttons > button {
  font-size: 50%;
}

.mui-block {
  display: block !important;
  margin-bottom: 16px !important;
}

.mui-full-width {
  width: 100% !important;
  margin-bottom: 16px !important;
}

.badge-container {
  display: inline-block;
}

.badge-name {
  display: block;
  font-size: 70%;
  text-align: center;
}

.badge--online > .MuiBadge-badge {
  background-color: #44b700;
  color: #44b700;
  box-shadow: 0 0 0 2px #ffffff;
}
.badge--online > .MuiBadge-badge:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ripple 1.2s infinite ease-in-out;
  border: 1px solid currentColor;
  content: ' ';
}

.badge--offline > .MuiBadge-badge {
  background-color: grey;
}

.floating-animation--1 {
  animation-name: float;
  animation-duration: 2.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-animation--2 {
  animation-name: float;
  animation-duration: 5.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-animation--3 {
  animation-name: float;
  animation-duration: 1.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-animation--4 {
  animation-name: float;
  animation-duration: 8.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-animation--5 {
  animation-name: float;
  animation-duration: 6.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding: 8px;
}
.home .home-section {
  margin-top: 32px;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .home-section--separator {
  text-align: center;
  margin: 32px 0 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.game-waiting-room__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.game-waiting-room__spinner {
  display: block !important;
  margin: 32px auto;
}

.game-waiting-room__line {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game-waiting-room .badge-container {
  margin: 0 16px 16px;
}

.game-waiting-room__actions {
  display: flex;
  justify-content: center;
}
